.textBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 15%;
    gap: 5%;
    h2{
        font-size: 30px;
        font-weight: 500;
        color: lightgreen;
    }
    p{
        color: white;
        font-size: 13px;
    }
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: white;
}


@media(max-width:768px){
    h1{
        font-size: 40px;
    }
    .textBox{
        gap: 10px;
        h2{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
    }
}