.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    img{
        object-fit: cover;
    }
}

.cardDescription{
    height: 100vh;
    background-color: #53FC83;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    p{
        color: white;
        background: none;
    }
    .cardTittle{
        font-size: 50px;
        font-weight: 600;
        color: #2B2B2B;
    }
}

@media (max-width:768px){
    .card{
        img{
            object-fit: cover;
        }
    }
    .cardDescription{
        padding: 0;
        .cardTittle{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }
}