footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    background-color: #333333;
    svg{
        width: 200px;
    }
}

.footerInitial{
    font-size: 30px;
    font-weight: 500;
    color: #FAA937;
    background: none;
}

.footerDescription{
    font-size: 17px;
    background: none;
    font-weight: 500;
}

svg{
    background: none;
}

.footercontainer {
    padding: 2% 3% 0 3%;
}

.footer-social{
    background: none;
    display: flex;
    gap: 10px;
    svg{
        width: 40px;
    }
    a{
        background: none;
    }
}

@media(max-width:768px){
    .footerInitial{
        font-size: 25px;
    }
    .footerDescription{
        font-size: 15px;
    }
    footer{
        svg{
            width: 150px;
        }
    }
    .footercontainer{
        padding: 5% 0 0 0;
    }
}

@media(max-width: 425px){
    footer{
        gap: 5px;
    }
    .footerInitial{
        font-size: 20px;
    }
    .footerDescription{
        font-size: 10px;
    }
}