footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    background-color: #333333;
}

.footerInitial{
    font-size: 50px;
    font-weight: 500;
    color: #FAA937;
    background: none;
}

.footerDescription{
    font-size: 25px;
    background: none;
    font-weight: 500;
}

svg{
    background: none;
}

@media(max-width:768px){
    .footerInitial{
        font-size: 30px;
    }
    .footerDescription{
        font-size: 15px;
    }
    footer{
        svg{
            width: 150px;
        }
    }
}