.link ul li:hover{
    text-decoration: underline 3px #53FC83;
}

@media(max-width:768px){
    .link ul li{
        font-size: 15px;
    }
}

._bigTittle_1weck_15 {
    font-size: 40px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 55px;
}

@media(max-width: 425px){
    .nav{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    ._bigTittle_1weck_15 {
        font-size: 30px;
    }
}